# Node modules
node_modules

# Environment files
.env
.env.*

# Build outputs
dist
build

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS and editor files
.DS_Store
.vscode/
.idea/

# Ignore sensitive backend config
backend/serviceAccountKey.json
